* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.calc {
  background-color: #73a2fb;
  width: 600px;
  height: 590px;
  margin: auto;
  margin-top: 60px;
  border-radius: 10px;
}

.header {
  width: 387px;
  height: 110px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #313133;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: 80px;
}
.header-screen {
  width: 350px;
  height: 56px;
  border-radius: 10px;
  background-color: bisque;
  display: flex;
  margin: 10px;
  padding: 5px;
  background: #bcbec0;
  color: black;
}
.keypad {
  height: 325px;
  background-color: #414143;
  width: 387px;
  margin: auto;
  margin-top: 80px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#grid {
  display: grid;
  padding: 13px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 75px 75px 75px 75px;
  position: relative;
  top: 15px;
}

.cbtn {
  background-color: white;
  font-size: 20px;
  text-align: center;
  height: 50px;
  border-radius: 10px;
  padding: 13px;
  display: inline-block;
  width: 110px;
  position: relative;
  top: 14px;
  left: 14px;
}

.grid-item {
  background-color: white;
  font-size: 20px;
  text-align: center;
  height: 50px;
  border-radius: 10px;
}
