@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-height: 600px;
}

.bg {
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.headingH1 {
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translate(-50%, -50%);
    padding: -100px;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid yellow; */
    min-width: 242px;
}

.headingH1 h1 {
    font-size: 3vw;
}

.headingH2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.headingH2 h2 {
    font-size: 2.5rem;
}

button {
    position: absolute;
    left: 50%;
    top: 77%;
    transform: translate(-50%, -50%);
}

#increament-btn {
    border-radius: 8px;
    width: 21vw;
    height: 7vh;
    font-size: 1.5rem;
    min-width: 150px;
    min-height: 50px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: #333;
    color: #ffff00;
}

.container {
    width: 50vw;
    height: 28vh;
    position: absolute;
    left: 16vw;
    top: 25%;
    padding: 40px;
    /* border: 2px solid red; */
}

@media screen and (max-width: 1000px) {
    .headingH1 h1 {
        font-size: 30px;
    }
    .headingH2 h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 712px) and (min-width: 580px) {
    #increament-btn {
        font-size: 20px;
    }
}

@media screen and (max-width: 579px) {
    #increament-btn {
        font-size: 18px;
    }
}